hostname "{{ hlds_dm01_hostname }}"
mp_timelimit {{ hlds_dm01_timelimit }}
mp_fraglimit 0
mp_friendlyfire 0
mp_flashlight 1
mp_footsteps 1
sv_cheats 0
sv_lan 0
sv_region 255
mp_mapcyclefile "mapcycle.txt"
log on
sv_logfile 1
